# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
*.msi
x64/
build/
[Bb]in/
[Oo]bj/

# Vim temporary files
*.swp

# Paket temporary files
paket.exe
packages
*.vs
paket-files
Paket.Restore.targets

# wix
*.g.wxs