<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="TcPouStatechartGenerator"
      Manufacturer="Kval"
      Version="1.0.0.0"
      UpgradeCode="7C9F1D4E-8B31-4A57-9E1B-3E3D3D3C0F01"
      Scope="perMachine"
      InstallerVersion="500"
      Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="TcPouStatechartGenerator" />
    </StandardDirectory>

    <Feature Id="Main" Title="TcPouStatechartGenerator" Level="1">
      <ComponentRef Id="AppExe" />
      <ComponentRef Id="ContextMenuRegistration" />
    </Feature>

    <Component Id="AppExe" Directory="INSTALLFOLDER"
               Guid="4E8B2C3D-1F5A-4B6C-9D7E-8F0A1B2C3D4E">
      <File Id="TcPouStatechartGeneratorExe"
            Source="$(var.PublishDir)TcPouStatechartGenerator.exe"
            KeyPath="yes" />
    </Component>

    <Component Id="ContextMenuRegistration" Directory="INSTALLFOLDER"
               Guid="B8D3AC61-2E4C-4A0D-9B4F-4D5DFE0F9F02">
      <RegistryKey Root="HKCR" Key=".TcPOU">
        <RegistryValue Type="string" Name="PerceivedType" Value="text" KeyPath="yes" />
      </RegistryKey>
      <RegistryKey Root="HKCR"
                   Key="SystemFileAssociations\.TcPOU\shell\TcPouStatechartGenerator">
        <RegistryValue Type="string" Value="TcPouStatechartGenerator" />
        <RegistryValue Type="string" Name="Icon"
                       Value="[INSTALLFOLDER]TcPouStatechartGenerator.exe,0" />
      </RegistryKey>
      <RegistryKey Root="HKCR"
                   Key="SystemFileAssociations\.TcPOU\shell\TcPouStatechartGenerator\command">
        <RegistryValue Type="string"
                       Value="&quot;[INSTALLFOLDER]TcPouStatechartGenerator.exe&quot; &quot;%1&quot;" />
      </RegistryKey>

      <RegistryKey Root="HKCR" Key=".TcDUT">
        <RegistryValue Type="string" Name="PerceivedType" Value="text" />
      </RegistryKey>
      <RegistryKey Root="HKCR"
                   Key="SystemFileAssociations\.TcDUT\shell\TcPouStatechartGenerator">
        <RegistryValue Type="string" Value="TcPouStatechartGenerator" />
        <RegistryValue Type="string" Name="Icon"
                       Value="[INSTALLFOLDER]TcPouStatechartGenerator.exe,0" />
      </RegistryKey>
      <RegistryKey Root="HKCR"
                   Key="SystemFileAssociations\.TcDUT\shell\TcPouStatechartGenerator\command">
        <RegistryValue Type="string"
                       Value="&quot;[INSTALLFOLDER]TcPouStatechartGenerator.exe&quot; &quot;%1&quot;" />
      </RegistryKey>
    </Component>
  </Package>
</Wix>
